  <main class="container">
    <h1>Coder House Chat Comunidad xD</h1>

    <ul id="list-messages">
      
    </ul> 
  
    <form id="form-message">
      <input type="text" name="fullname" id="input-fullname" placeholder="Ingresa tu nombre" required>
      <input type="text" name="message" id="input-message" placeholder="Ingresa mensaje..." required>
      <button type="submit">Enviar</button>
    </form>
  </main>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/script.js"></script>